*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Nunito-Sans;
    src: url(../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
body{
    font-family: Nunito-Sans;
    background: #F0F5FB;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.header__top-bg{
    background: #18154B;
}
.header__top-wrapper{
    display: flex;
    justify-content: space-between;
    height: 46px;
    align-items: center;
}
.header__link-gap{
    color: #F0F5FB;
    font-size: 14px;
    font-family: Nunito-Sans;
    display: flex;
    gap: 10px;
}
.header__top{
    display: flex;
    gap: 44px;
}
.header__top-sn{
    display: flex;
    gap: 18px;
}
.header__bottom-bg{
    height: 70px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
    display: flex;
    align-items: center;
}
.header__bottom_nav{
    width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__bottom_link{
    display: flex;
    gap: 40px;
    text-decoration: none;
}
.header__botton_link_style{
    text-decoration: none;
    color: #FFF;
}
#header__botton_link_nav_style{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(48, 50, 57, 1);
}
#header__botton_link_nav_style:hover{
    color: rgba(48, 50, 57, 0.70);
}
.header__bottom-btn{
    font-family: url(..fonts/Inter-VariableFont_slnt,wght.ttf);
    color: #FFF;
    width: 160px;
    height: 40px;
    border-radius: 50px;
    background: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%), #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
}
.header__bottom_link_catalog{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.header__bottom-icons{
    position: relative;
    display: flex;
    gap: 10px;
}
.header__bottom-icon{
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #F0F5FB;   
}
.header__bottom-img-logo{
    width: 121px;
    height: 18px;
}
.header__bottom-img-catalog{
    width: 10px;
    height: 5px;
}
.header-link-catalog{
    display: flex;
    align-items: center;
}
.header__bottom-icon__top{
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    left: 30px;
    bottom: 27px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 10px;
    background-color: #18154B;
    color: #FFF;
}
.header__main{
    margin-top: 40px;
}
.header__main__banners{
    display: flex;
    gap: 20px;
}
.header_main_left__main{
    display: flex;
    position: relative;
}
.header_main_block_left{
    width: 780px;
    height: 440px;
    border-radius: 10px;
    background: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%), #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
}
.header_main_left__main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header__main-text{
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    gap: 71px;
}
.header__main-texts{
    display: flex;
    gap: 27px;
    flex-direction: column;
}
.background_main_text__main{
    width: 341px;
    color: #FFF;
    font-size: 38px;
    font-weight: 800;
    text-transform: uppercase;
}
.header_main_left-button{
    border-radius: 50px;
    border: none;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18154B;
    font-size: 15px;
    font-weight: 700;
}
.header_main_ellipse{
    position: absolute;
    right: 0px;
}
.header_main_block_left__pagination{
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 30px;
    right: 30px;
}
.header_main_block_left__pagination__circle{
    width: 10px;
    height: 10px;
    background-color: rgba(56, 176, 193, 0.40);
    border-radius: 50px;
}
.header_main_block_left__pagination__circle:hover{
    background-color: #38B0C1;
    width: 12px;
    height: 12px;
}
.header__main_right-block{
    position: relative;
    color: #FFF;
}
.header__main_right__main{
    position: absolute;
    top: 40px;
}
.header__main_right-text{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 12px;
}
.header__main_right-title{
    font-size: 28px;
    width: 231px;
    font-weight: 800;
    text-transform: uppercase;
}
.header__main_right-paragraph{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}
.header__main_right_title__after_title{
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
}
.header__main_right_paragraph__after_title{
    width: 130px;
}
.header__main_right-img-btn{
    display: flex;
    align-items: flex-end;
}
.header_main_right-img{
    width: 30px;
    height: 12px;
}
.header__main_right-btn{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #FFF;
}
.main__categories{
    margin-top: 80px;
}
.main__categories_title{
    color: #18154B;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}
.main__categories_cards{
    margin-top: 40px;
    position: relative;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.main_card__main{
    position: absolute;
    top: 20px;
    display: flex;
    padding-left: 35px;
    color: #303239;
    font-size: 18px;
    line-height: 130%;
    gap: 20px;
}
.main_card__mains{
    position: absolute;
    top: 220px;
    display: flex;
    padding-left: 35px;
    color: #303239;
    font-size: 18px;
    line-height: 130%;
    gap: 20px;
}
.main_card__main_text{
    width: 160px;
    padding-top: 10px;
}
.main__cards_btn{
    position: absolute;
    top: 100px;
    right: 40px;
    padding-bottom: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #18154B;
}
.main__cards_btn_arrow{
    width: 30px;
    height: 12px;
}
.main__achievements{
    position: relative;
    margin-top: 80px;
}
.main__achievements_gap{
    display: flex;
    gap: 79px;
}
.main__achievements_main_img{
    position: absolute;
    top: -25px;
}
.main__achievements_main{
    position: absolute;
    top: 50px;
    left: 55px;
    flex-direction: column;
}
.main__achievements_main_title{
    position: absolute;
    width: 341px;
    color: #FFF;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    z-index: 1;
}
.main__achievements_point{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color:  rgba(52, 110, 164, 0.20);
    filter: drop-shadow(0px 4px 40px rgba(0, 6, 84, 0.90));
}
.achievement_point-text{
    max-width: 150px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}
.main__achievement{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main__achievement-points{
    position: absolute;
    top: 40px;
    left: 470px;
    display: flex;
    gap: 40px 90px;
    flex-wrap: wrap;
}
.main__hits_sale{
    margin-top: 74px;
}
.main__hits_sale_title_text{
    color: #18154B;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}
.main__hits_sale_cards{
    width: 220px;
    height: 360px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
}
.main__hits_sale_card_main{
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.main__hits_sale_card_state{
    width: auto;
    height: auto;
    background-color: #F0F5FB;
    border-radius: 4px;
    display: inline-flex;
    padding: 3px 10px 3px;
    align-items: flex-start;
    gap: 10px;
    color: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.24px;
    text-transform: uppercase;
}
.main__hits_sale_card_img{
    width: 160px;
    height: 160px;
}
.main__hits_sale_card{
    display: flex;
    gap: 122px;
}
.main__hits_sale_card_main_name{
    color: #303239;
    font-size: 14px;
    font-weight: 600;
}
.main__hits_sale_card_status{
    color: #9B9B9B;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}
.main__main_color{
    width: 6px;
    height: 6px;
    background-color: #38B0C1;
    border-radius: 50%;
}
.main__main_price{
    display: flex;
    align-items: center;
    gap: 77px;
}
.main__main_priceS{
    display: flex;
    align-items: center;
    gap: 21px;
}
.main__main_priceM{
    display: flex;
    align-items: center;
    gap: 86px;
}
.main__main_price_sale{
    display: flex;
    gap: 8px;
    align-items: center;
}
.main__main_price_ru{
    color: #303239;
    font-size: 14px;
    font-weight: 700;
}
.main__main_price_ru_sale{
    text-decoration: line-through;
    color: #9B9B9B;
    font-size: 10px;
    font-weight: 600;
}
.main__main_price_basket{
    width: 36px;
    height: 36px;
    border-radius: 30px;
    background: #F0F5FB;
    padding: 9px;
}
.main__main_price_basketZ{
    width: 36px;
    height: 36px;
    border-radius: 30px;
    background: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
    padding: 9px;
}
.main__main_button{
    width: 180px;
    height: 44px;
    border-radius: 50px;
    background: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nunito-Sans';
}
.main__cards_container{
    padding-top: 15px;
    padding-left: 15px;
}
.main__hits_cards_points{
    display: flex;
    gap: 20px;
}
.main__hit_paginations{
    display: flex;
    gap: 10px;
}
.main__hit_pagination{
    width: 10px;
    height: 10px;
    background-color: rgba(56, 176, 193, 0.40);
    border-radius: 50px;
}
.main__hit_pagination:hover{
    background-color: #38B0C1;
    width: 12px;
    height: 12px;
}